{% from "templates/dropdown.html" import dropdown %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
      {% block head %}
        <title>Pyblog</title>
      {% endblock %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <aside>
          <a href="/">
            <img src="/img/lime.png" alt="Header Image" width="240px"/>
            <h1>Blargh</h1>
          </a>
          <p>This is a blog.</p>
          <nav>
            <a href="">A link</a><br/>
            <a href="">Another link</a>
            <br/><br/>
            <label for="sidebar_category">Category: </label><br/>
            {{ dropdown(cats, "sidebar_category", "toCategoryPage()", "side_dd") }}
            <br/><br/>
            <a href="/about">About</a>
            {% if isAdmin %}
              <br><a href="/admin/">Admin Page</a>
            {% endif %}
          </nav>
        </aside>

        <div id="content">
          {% block content %}
            {% for entry in entries %}
              <article>
                <h2><a href={{ entry.url }}>{{ entry.title }}</a></h2>
                {{ entry.content|striptags()|truncate() }}
              </article>
            {% endfor %}
          {% endblock %}
          <hr/>
          {% block footer %}
            {% if buttons %}
              <div id="botnav">
                {% if buttons[0] %}
                  <p style="float:left">
                    <a href="/?cursor={{ buttons[0] }}">Newer</a>
                  </p>
                {% endif %}
                {% if buttons[1] %}
                  <p style="float:right">
                    <a href="/?cursor={{ buttons[1] }}">Older</a>
                  </p>
                {% endif %}
              </div>
            {% endif %}
          {% endblock %}
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
